body {
	/*background-color: #f7f7f7;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #444;
	margin: 0;
	padding: 10px;*/

	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #444;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #f7f7f7;
	height: 100%;
	line-height: 28px;*/
}
body P{
	line-height: 18px;
	margin-bottom: 10px;
	padding-left:10px;
}
body a{
	color: #444;
	text-decoration: underline;
	outline: none;
}
body a:hover{
	color: #72015f;
	text-decoration: underline;
}
body ul{
	margin: 1em;
	list-style:none;
	padding: 0px;
}
body ul li{
	margin-bottom: 10px;
	padding-left: 10px;
	/*background: url(/cbvalladolid.com/images/iconos/iconoticias.gif) no-repeat left 5px;*/
}
.fleftMargin{
	float: left;
	margin: 10px 10px 10px 0px;
}
.frightMargin{
	float: right;
	margin: 10px 0px 10px 10px;
}